/* COLOR DE FONDO GENERAL */
body {
    margin: 0;
    padding: 0;
    background-color: #C79542; /* color dorado exacto */
    font-family: Arial, sans-serif;
}

/* LOGO SUPERIOR DERECHO */
.logo-top {
    position: absolute;
    top: 25px;
    right: 25px;
}

.logo-top img {
    width: 110px;
    height: auto;
}

/* TÍTULO CENTRAL */
.titulo {
    text-align: center;
    margin-top: 70px;
    font-size: 40px;
    font-weight: 900;
    color: #000;
    font-family: 'Cinzel', serif; /* Parecido al estilo usado */
}

/* CONTENEDOR DEL FORMULARIO */
.contenedor {
    width: 85%;
    max-width: 900px;
    margin: 40px auto;
}

/* LABELS */
.contenedor label {
    display: block;
    font-size: 22px;
    color: #d9d9d9;
    margin-bottom: 10px;
    margin-top: 25px;
}

/* INPUTS */
.contenedor input {
    width: 100%;
    padding: 22px;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    margin-bottom: 10px;
}

/* BOTÓN */
.btn {
    display: block;
    width: 350px;
    margin: 60px auto;
    padding: 22px 0;
    background-color: #ffffff;
    border: none;
    border-radius: 40px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
